<% include head -%>
  <% var seen = {} -%>
  <ol class="breadcrumb">
    <li><a href="/texts/<%= group.name %>"><%= group.name %></a></li>
    <li><a href="/texts/<%= group.name %>/<%= work.title %>"><%= work.title %></a></li>
    <li><%= edition.label %></li>
  </ol>
  <section>
    <% var lineNumber = 1 -%>
    <% selection.find('div1[type=book] > lg').forEach(function(lg) { -%>
      <div class="paragraph">
        <% lg.find('l').forEach(function(l, i) { -%>
          <div class='line'>
            <div class='row'>
              <div class='col-xs-1 col-sm-1 col-md-1'><a class='line-number'><%= lineNumber++ %></a></div>
              <div class='words col-xs-11 col-sm-11 col-md-11'>
                <%
                  l.annotations().forEach(function(annotation) {
                    seen[annotation.lemma] = true
                -%>
                  <span class="lemma-<%= annotation.lemma %>" id="<%= annotation.sentenceId + '-' + annotation.id %>" data-annotation="<%= JSON.stringify(annotation) %>"><%= annotation.form %></span>
                <% }) -%>
              </div>
            </div>
          </div>
        <% }) -%>
      </div>
    <% }) -%>
    <% selection.find('div1[type=book] > div2[type=chapter] > div3[type=section] > p').forEach(function(p) { -%>
      <div class="paragraph">
        <%
          p.annotations().forEach(function(annotation) {
            seen[annotation.lemma] = true
        -%>
          <span class="lemma-<%= annotation.lemma %>" id="<%= annotation.sentenceId + '-' + annotation.id %>" data-annotation="<%= JSON.stringify(annotation) %>"><%= annotation.form %></span>
        <% }) -%>
      </div>
    <% }) -%>
  </section>
<% include foot %>
