<% include head -%>
  <div class="row">
    <div class='col-xs-1 col-sm-1 col-md-1'></div>
    <div class="col-xs-6 col-sm-6 col-md-6">
      <ol class="breadcrumb">
        <li><a href="/texts/<%= group.name %>"><%= group.name %></a></li>
        <li><a href="/texts/<%= group.name %>/<%= work.title %>"><%= work.title %></a></li>
        <li><%= edition.label %></li>
        <% selection.toc.forEach(function(level, i) { -%>
          <li class="dropdown">
            <a href="#" data-toggle="dropdown">
              <button type="button" class="btn btn-default">
                <%= level.label %> <%= level.current %> <span class="caret"></span>
              </button>
            </a>
            <ul class="dropdown-menu">
              <% level.forEach(function(section) { -%>
                <li>
                  <a href="/texts/<%= group.name %>/<%= work.title %>/<%= edition.label %>:<%= section.citation %>">
                    <%= level.label %> <%= section.name %>
                  </a>
                </li>
              <% }) -%>
            </ul>
          </li>
        <% }) -%>
      </ol>
      <div class="panel panel-default">
        <div class="panel-body">
          <section>
            <% var lineNumber = 1 -%>
            <% selection.find('div1[type=book] > lg').forEach(function(lg) { -%>
              <div class="paragraph">
                <% lg.find('l').forEach(function(l, i) { -%>
                  <div class='line'>
                    <div class='row'>
                      <div class='col-xs-1 col-sm-1 col-md-1'><a class='line-number'><%= lineNumber++ %></a></div>
                      <div class='words col-xs-11 col-sm-11 col-md-11'>
                        <% l.annotations().forEach(function(annotation) { -%>
                          <span class="word lemma-<%= annotation.lemma %>" data-lemma="<%= annotation.lemma %>" id="<%= annotation.sentenceId + '-' + annotation.id %>" data-annotation="<%= JSON.stringify(annotation) %>"><%= annotation.form %></span>
                        <% }) -%>
                      </div>
                    </div>
                  </div>
                <% }) -%>
              </div>
            <% }) -%>
            <% selection.find('div1[type=book] > div2[type=chapter] > div3[type=section] > p').forEach(function(p) { -%>
              <div class="paragraph">
                <% p.annotations().forEach(function(annotation) { -%><span class="word <% if(annotation.lemma) { %>lemma-<%= annotation.lemma %><% } %>" <% if(annotation.sentenceId) { %>id="<%= annotation.sentenceId + '-' + annotation.id %>"<% } %> data-annotation="<%= JSON.stringify(annotation) %>"><%= annotation.form %></span> <% }) -%>
              </div>
            <% }) -%>
          </section>
          <ul class="pager">
            <% if (selection.toc.prev()) { -%>
              <li><a href="/texts/<%= group.name %>/<%= work.title %>/<%= edition.label %>:<%= selection.toc.prev() %>">Previous</a></li>
            <% } -%>
            <% if (selection.toc.next()) { -%>
              <li><a href="/texts/<%= group.name %>/<%= work.title %>/<%= edition.label %>:<%= selection.toc.next() %>">Next</a></li>
            <% } -%>
          </ul>
        </div>
      </div>
    </div>
    <div class='col-xs-5 col-sm-5 col-md-5' style="position: relative">
      <div data-spy="affix" role="complementary" class='hidden-print col-xs-5 col-sm-5 col-md-5'>
        <div id="info"></div>
      </div>
    </div>
  </div>
  <script type="text/html" id="word-info">
    <ol class="list-group">
      <li href="#" class="list-group-item">
        <h4><?= lemma ?></h4>
        <h5>
          <ol>
            <? tags.forEach(function(tag) { ?>
              <li><?= tag.partOfSpeech ?> <?= tag.case ?> <?= tag.gender ?> <?= tag.person ?> <?= tag.number ?> <?= tag.tense ?> <?= tag.voice ?> <?= tag.mood ?></li>
            <? }) ?>
          </ol>
        </h5>
        <? if (entry) { ?>
          <ol>
            <? entry.senses.forEach(function(sense) { ?>
              <li><?= sense.text ?></li>
            <? }) ?>
        <? } ?>
        </ol>
      </li>
    </ol>
  </script>
<% include foot %>
