<% include head -%>
  <ol class="breadcrumb">
    <li><a href="/texts/<%= group.name %>"><%= group.name %></a></li>
    <li><a href="/texts/<%= group.name %>/<%= work.title %>"><%= work.title %></a></li>
    <li><%= edition.label %></li>
  </ol>
  <div class="row">
    <div class='col-xs-2 col-sm-2 col-md-2'>
      <div data-spy="affix" class="hidden-print" role="complementary">
        <ul class="nav nav-stacked">
          <% annotatedEdition.toc().forEach(function(section) { -%>
            <li><a href="/texts/<%= group.name %>/<%= work.title %>/<%= edition.label %>:<%= section[1] %>"><%= section[0] %> <%= section[1] %></a></li>
          <% }) -%>
        </ul>
      </div>
    </div>
    <div class="col-xs-5 col-sm-5 col-md-5">
      <section>
        <% var lineNumber = 1 -%>
        <% selection.find('div1[type=book] > lg').forEach(function(lg) { -%>
          <div class="paragraph">
            <% lg.find('l').forEach(function(l, i) { -%>
              <div class='line'>
                <div class='row'>
                  <div class='col-xs-1 col-sm-1 col-md-1'><a class='line-number'><%= lineNumber++ %></a></div>
                  <div class='words col-xs-11 col-sm-11 col-md-11'>
                    <% l.annotations().forEach(function(annotation) { -%>
                      <span class="word lemma-<%= annotation.lemma %>" data-lemma="<%= annotation.lemma %>" id="<%= annotation.sentenceId + '-' + annotation.id %>" data-annotation="<%= JSON.stringify(annotation) %>"><%= annotation.form %></span>
                    <% }) -%>
                  </div>
                </div>
              </div>
            <% }) -%>
          </div>
        <% }) -%>
        <% selection.find('div1[type=book] > div2[type=chapter] > div3[type=section] > p').forEach(function(p) { -%>
          <div class="paragraph">
            <% p.annotations().forEach(function(annotation) { -%>
              <span class="word lemma-<%= annotation.lemma %>" id="<%= annotation.sentenceId + '-' + annotation.id %>" data-annotation="<%= JSON.stringify(annotation) %>"><%= annotation.form %></span>
            <% }) -%>
          </div>
        <% }) -%>
      </section>
    </div>
    <div class='col-xs-5 col-sm-5 col-md-5'>
      <div data-spy="affix" class="hidden-print" role="complementary">
        <div id="info"></div>
      </div>
    </div>
  </div>
  <script type="text/html" id="word-info">
    <div class="list-group">
      <a href="#" class="list-group-item active">
        <h4><?= annotation.lemma ?></h4>
        <h5><?= annotation.partOfSpeech ?> <?= annotation.case ?> <?= annotation.gender ?> <?= annotation.person ?> <?= annotation.number ?> <?= annotation.tense ?> <?= annotation.voice ?> <?= annotation.mood ?></h5>
        <? if (entry) { ?>
          <ol>
            <? entry.senses.forEach(function(sense) { ?>
              <li>
                <? sense.translations.forEach(function(translation, i) { ?>
                  <?= translation ?><?= i < sense.translations.length - 1 ? ';' : '' ?>
                <? }) ?>
              </li>
            <? }) ?>
        <? } ?>
        </ol>
      </a>
    </div>
  </script>
<% include foot %>
