<% include head %>
  <ol class="breadcrumb">
    <li><a href="/texts/<%= group.name %>"><%= group.name %></a></li>
    <li><%= work.title %></li>
  </ol>
  <h3>Editions</h3>
  <div class="list-group">
    <% for (var e in work.editions) { var edition = work.editions[e]; %>
      <a href="/texts/<%= group.name %>/<%= work.title %>/<%= edition.label %>" class="list-group-item">
        <h4 class="list-group-item-heading"><%= edition.label %></h4>
        <p class="list-group-item-text"><%= edition.description %></p>
      </a>
    <% } %>
  </div>
  <h3>Translations</h3>
  <div class="list-group">
    <% for (var t in work.translations) { var translation = work.translations[t]; %>
      <a href="/texts/<%= group.name %>/<%= work.title %>/<%= translation.label %>" class="list-group-item">
        <h4 class="list-group-item-heading"><%= translation.label %></h4>
        <p class="list-group-item-text"><%= translation.description %></p>
      </a>
    <% } %>
  </div>
<% include foot %>
